server:
  port: 8080

# Application
spring:
  application:
    name: tech-challenge-fase1

  # Database Configuration
  datasource:
    url: jdbc:mysql://database:3306/restaurant_db?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
    username: restaurantuser
    password: restaurant123
    driver-class-name: com.mysql.cj.jdbc.Driver

  # JPA/Hibernate Configuration
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQLDialect
    # Adia a execução do data.sql para DEPOIS do Hibernate criar as tabelas
    defer-datasource-initialization: true

  # SQL Initialization (executa data.sql APÓS Hibernate)
  sql:
    init:
      mode: always
      continue-on-error: false

  # DevTools
  devtools:
    restart:
      enabled: true
    livereload:
      enabled: true

# Logging
logging:
  level:
    root: INFO
    com.fiap: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE

# SpringDoc OpenAPI (Swagger)
springdoc:
  api-docs:
    path: /v1/api-docs
  swagger-ui:
    path: /swagger-ui.html
    enabled: true
